[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi
ExecStart=/home/pi/grafana-monitor-rpi4/prometheus/node_exporter/node_exporter

[Install]
WantedBy=default.target
